:root {

    --background: #1C2128;
    --text-primary: #FFFFFF;
    --text-secondary: #ffffffc9;
    --text-primary-opacity: 1;
    --text-secondary-opacity: 0.8;
    --primary: #2E7CF5;
    --secondary: #FFFFFF;
    --onSecondary: var(--background);
    --border: 1px solid #444C56;
    --surface: #22272E;
    --onSurface: #444C56;
    --primary-shadow: 0 0 0px 3px #2e7ef584;
    --error: #fe7e7c;
    --success: #2DB587;
    --success-background: #70ffd02e;
    --error-background: #5039385d;

    --button-primary: var(--primary);
    --button-primary-text: #FFFFFF;
    --button-primary-border: 1px solid var(--primary);
    --button-primary-hover: var(--surface);
    --button-primary-text-hover: var(--text-primary);
    --button-primary-border-hover: var(--primary);
    
    --button-secondary: #373E47;
    --button-secondary-text: #ffffffc3;
    --button-secondary-background: #ffffff;
    --button-secondary-background-disabled: #eaeaea;
    --button-secondary-border: 1px solid #464E57;
    --button-secondary-border-hover: #FFFFFF;
    --button-secondary-text-hover: var(--text-primary);
    --button-secondary-background-hover: transparent;

    --button-error-text: #fe7e7c;
    --button-error-background: var(--error-background);
    --button-error-border: 1px solid var(--error);

    --navbar-link: #666;
    --navbar-link-hover: #000000;
    --navbar-link-active: #0070f3;
    --navbar-border: #eaeaea;
    --tab-border: #eaeaea;

    --input-background: transparent;
    --input-border: 2px solid #444C56;
    --input-focused: #0070f3;
    --input-hover-border: #0070f3;
    --input-focused-boxShadow: 0 0 0px 3px #0071f32f;
    --input-error: #EA3D09;
    --input-error-boxShadow: 0 0 0px 3px #ff9b9b;
    --btn-group-tab-background: #f3f3f3;
    --btn-group-tab-border: #eaeaea;
    --btn-group-tab-active: #0070f3;
    --btn-group-tab-active-background: #FFFFFF;


    --ioblock-background: #000a2008;
    --io-output-block-success-background: #D9F3F0;
    --io-output-block-success : #2DB587;
    --io-output-block-background: #f3f3f3;
    
    --notification-border: 1px solid #D2D9E7;

    --font-small: 14px;
    --font-medium: 16px;
    --font-large: 18px;

    --navbar-pfp-text: #515151;
    --navbar-pfp-hover: #000000;
    --navbar-pfp-background: #EAEAEA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    color: var(--text-primary);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
body{
    background-color: var(--background);
}


.splitpanes.modern-theme .splitpanes__splitter {
    background-color: #3C3F45;
    position: relative;
}
.splitpanes.modern-theme .splitpanes__splitter:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.4s;
    background-color: var(--primary);
    opacity: 0;
    z-index: 1;
}
.splitpanes.modern-theme .splitpanes__splitter:hover:before {
    opacity: 1;
}
.splitpanes.modern-theme .splitpanes__splitter.splitpanes__splitter__active {
    z-index: 2;
    /* Fix an issue of overlap fighting with a near hovered splitter */
}
.modern-theme.splitpanes--vertical > .splitpanes__splitter:before {
    left: -3px;
    right: -3px;
    height: 100%;
    cursor: col-resize;
}
.modern-theme.splitpanes--horizontal > .splitpanes__splitter:before {
    top: -3px;
    bottom: -3px;
    width: 100%;
    cursor: row-resize;
}
.splitpanes.no-splitter .splitpanes__pane {
    background-color: #f8f8f8;
}
.splitpanes.no-splitter .splitpanes__splitter {
    background-color: #ccc;
    position: relative;
}
.no-splitter.splitpanes--horizontal > .splitpanes__splitter:before {
    width: 0.1rem;
    pointer-events: none;
    cursor: none;
}
.no-splitter.splitpanes--vertical > .splitpanes__splitter:before {
    height: 0.1rem;
    pointer-events: none;
    cursor: none;
}