:root {

    --primary: #503EF8;

    --button_primary: #000000;
    --button_primary_text: #ffffff;
    --button_primary_border: #000000;
    --button_primary_hover: #ffffff;
    --button_primary_text_hover: #000000;
    --button_primary_border_hover: #000000;
    --button_secondary: #ffffff;
    --button_secondary_text: #000000;

    --button_secondary_background: #ffffff;
    --button_secondary_border: #eaeaea;
    --button_secondary_text: #666;
    --button_secondary_border_hover: #000000;
    --button_secondary_text_hover: #666;
    --button_secondary_background_hover: #ffffff;

    --navbar_link: #666;
    --navbar_link_hover: #000000;
    --navbar_link_active: #0070f3;
    --navbar_border: #eaeaea;

    --gray1: #eaeaea;

    --sampleio_table_background: #F6F9FC;
    --sampleio_table_border: 1px solid #D2D9E7;

    --splitter_hover: #9ccaff;
    --tab_border: #eaeaea;

    --text_primary: #000000;
    --text_secondary: #666666;

    --input_border: #EAEAEA;
    --input_focused: #0070f3;
    --input_hover_border: #0070f3;
    --input_focused_boxShadow: 0 0 0px 3px #a6cfff;
    --error: #EF4743;
    --error_background: #FDE9E8;
    --input_error: #EA3D09;
    --input_error_boxShadow: 0 0 0px 3px #ff9b9b;
    --btn_group_tab_background: #f3f3f3;
    --btn_group_tab_border: #eaeaea;
    --btn_group_tab_active: #0070f3;
    --btn_group_tab_active_background: #FFFFFF;


    --ioblock_background: #000a2008;
    --io_output_block_success_background: #D9F3F0;
    --io_output_block_success : #2DB587;
    --io_output_block_background: #f3f3f3;
    --font_small: 14px;
    --font_medium: 16px;
    --font_large: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.mainbody {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.mainbodyproblem {
    width: 100%;
    padding: 0 30px;
}

